body{
    background-color: black;
    color: white;
}
h1, .ssoccer{
    font-family: 'Rubik Iso', cursive;
    text-align: center;
}
.football, .soccer, .cricket, .baseball, .basketball{
    text-align: center;
}
